<ion-header>
  <ion-toolbar>
    <ion-title class="gg">Página de contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/logo.jpg" alt="" />
        <ion-card-header>
          
          <ion-card-title class="opa">Contatos</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content >
            <ion-card-title class="fdp">Email:imobisheik@gmail.com</ion-card-title><br>
            <ion-card-title class="fdp">Telefone:(21)3436-2158</ion-card-title><br>
            <ion-card-title class="fdp">Whatsapp:(21)98578-6525</ion-card-title><br>
            <ion-card-title class="fdp">Local: Avenida Louro José, nº 305 - RJ</ion-card-title>          
          
        </ion-card-content>
      </ion-card>



  
    <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <!-- Back button with a default href -->
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
</ion-content>
