<ion-header>
  <ion-toolbar>
    <ion-title class="gg">
     Casas 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/casa1.jpg" alt="" />
      <ion-card-header>
        
        <ion-card-title class="opa"></ion-card-title>
        <ion-card-subtitle class="desc">Bangu - Rio de Janeiro - RJ</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p class="desc">- 2 quartos.</p>
      <p class="desc">- Sala.</p>
      <p class="desc">- cozinha.</p>
      <p class="desc">- 4 banheiros(1 em cada quarto, 1 social e 1 no quintal.</p>
      <p class="desc">- Quintal grande.</p>
      <p class="desc">- Área com churrasqueira, pia e bancada.</p>
      <p class="desc">- Garagem.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
